<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="./javascripts/jquery.js"></script>
  <script src="./javascripts/util.js"></script>

</head>
 
<body>
	<%= JSON.stringify(json).name %>






<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0-rc.3/angular.min.js"></script>
<script type="text/javascript">
		

	   


</script>
</body>
</html>